# dev
*.code-workspace
examples/**/dist
packages/**/dist
integration-tests/**/dist
node_modules
public/
!public/index.html
tsconfig.tsbuildinfo
ts.cache

# Build tools
.rollup.cache
.parcel-cache

# Package management
.yarn/*
.pnp.*
.pnpm-store

!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

pnpm-publish-summary.json

# OS
.DS_Store

tmp
.vscode

*.drawio.bkp
.fuse
