# dev
*.code-workspace
dist
node_modules
public/
!public/index.html
tsconfig.tsbuildinfo

# Build tools
.rollup.cache
.parcel-cache

# Package management
.yarn/*
.pnp.*

!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# OS
.DS_Store

tmp
.vscode

*.drawio.bkp
