version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  install:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: cimg/node:18.18
    resource_class: medium
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - run:
          name: Install pnpm
          command: sudo corepack enable
      - checkout
      - restore_cache:
          # See the configuration reference documentation for more details on using restore_cache and save_cache steps
          # https://circleci.com/docs/2.0/configuration-reference/?section=reference#save_cache
          keys:
            - deps-v1-{{ .Branch }}-{{checksum "pnpm-lock.yaml"}}
      - run:
          name: Install
          command: pnpm install --frozen-lockfile
      - save_cache:
          key: deps-v1-{{ .Branch }}-{{checksum "pnpm-lock.yaml"}}
          paths:
            - node_modules
      - persist_to_workspace:
          root: ~/project
          paths:
            - .

  build:
    docker:
      - image: cimg/node:18.18
    resource_class: medium
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Build packages
          command: pnpm build
      - persist_to_workspace:
          root: ~/project
          paths:
            - .

  unit_test:
    docker:
      - image: cimg/node:<< parameters.node_version >>
    resource_class: medium
    parallelism: 1
    parameters:
      node_version:
        type: string
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Run Tests
          command: pnpm test

  format:
    docker:
      - image: cimg/node:18.18
    resource_class: medium
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Check formatting
          command: pnpm test:format

  type_check:
    docker:
      - image: cimg/node:18.18
    resource_class: medium
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Type check
          command: pnpm test:types

  integration_test:
    docker:
      - image: cimg/node:<< parameters.node_version >>
    resource_class: medium
    parallelism: 1
    parameters:
      node_version:
        type: string
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Build local tarballs
          command: pnpm pack:local dist --no-version
      - run:
          name: install CLI globally
          command: sudo npm install -g file:dist/openfn-cli.tgz
      - run:
          name: Check install
          command: openfn test --log info
      - run:
          name: Run integration test suite
          command: pnpm test:integration

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  build_and_test:
    jobs:
      - install:
          filters:
            branches:
              ignore:
                - main
      - build:
          requires:
            - install
      - unit_test:
          requires:
            - build
      - type_check:
          requires:
            - build
      - format:
          requires:
            - build
      - integration_test:
          matrix:
            parameters:
              # temporarily test against a range of versions while we get over teh 18x hump
              # We can reduce this later
              node_version: ['18.12.1', '18.20.5', '20.18.1', '22.12']
          requires:
            - build
